/*
    icons currently from google
    image used in user-projects : 
    https://www.pexels.com/photo/woman-using-computer-3184163/
*/
body {
  background: #0e1116;
  height: 100%;
  color: white;
}
.nav-bar {
  color: black;
  border-bottom: 2px solid salmon;
}

.nav-bar {
  background: #f8f8ed;
}

.back-btn {
  font-size: 40px;
  color: red;
}
.user-projects {
  background: rgba(170, 170, 170, 0.6);
  border: 1px solid white;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-user-projects {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.like-btn,
.dislike-btn {
  color: white;
  background: transparent;
  border: 1px solid transparent;
}

.like-btn:hover,
.dislike-btn:hover,
.like-btn:focus,
.dislike-btn:focus {
  cursor: pointer;
  outline: 0;
}

.like-btn:hover {
  color: #0be881;
  border: 1px solid transparent;
  background: transparent;
  outline: 0;
}

.dislike-btn:hover {
  color: red;
  border: 1px solid transparent;
  background: transparent;
  outline: 0;
}

.icon-size {
  font-size: 40px;
}

.hover {
  cursor: pointer;
}

.load-screen {
  height: 100vh;
}
