/*
    icons currently from google
    image used in user-projects : 
    https://www.pexels.com/photo/woman-using-computer-3184163/

    white-theme : 
    text_nav_or_critical - 333333
    text - f8f8f8
    background - dfdfdf
    borders - 555555
    nav-background eeeeee
*/
body {
  background: #dfdfdf;
  height: 100%;
  color: white;
}
.nav-bar {
  color: #333333;
  border-bottom: 1px solid #333333;
}

.nav-bar {
  background: #eeeeee;
}

.back-btn {
  font-size: 40px;
  color: red;
}
.user-projects {
  background: rgb(150, 150, 150);
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.like-btn,
.dislike-btn {
  color: white;
  background: transparent;
  border: 1px solid transparent;
}

.like-btn:hover,
.dislike-btn:hover,
.like-btn:focus,
.dislike-btn:focus {
  cursor: pointer;
  outline: 0;
}

.like-btn:hover {
  color: #0be881;
  border: 1px solid transparent;
  background: transparent;
  outline: 0;
}

.dislike-btn:hover {
  color: red;
  border: 1px solid transparent;
  background: transparent;
  outline: 0;
}

.icon-size {
  transition: color 1s;
  color: white;
  font-size: 40px;
}

.icon-size:hover {
  transition: color 1s;
  color: #222222;
}

.hover {
  cursor: pointer;
}

.load-screen {
  height: 100vh;
}
